<% unless answer.archived? %>
<p>
  <strong>Answerer:</strong>
  <%= answer.answerer %>
</p>

<p>
  <strong>Answer:</strong>
  <%= answer.body %>
</p>
<%= link_to 'Delete', [answer.question, answer],
            data: { method: :delete, confirm: "Are you sure?" },
            class: 'btn btn-danger btn-sm' %>
<%= link_to 'Edit', edit_question_answer_path(@question, answer), class: 'btn btn-info btn-sm' %>
<% end %>
