<% provide :page_title, 'Home' %>
<% currently_at 'Home' %>
<h1 class="mt-4" style="text-align: center">Welcome to AskMe</h1>

<p class="mt-4" style="text-align: center"> &copy; @cekynd4 <%= Time.now.year %> </p>